[Unit]
Description=Cisco SMB Backup Service by Jonathan Davis
After=network.target

[Service]
ExecStart=/usr/bin/python3 /automater/backup/backup_smb.py

[Install]
WantedBy=multi-user.target
