[Unit]
Description=Automater Differencial Checker Service by Jonathan Davis
After=network.target

[Service]
ExecStart=/usr/bin/python3 /automater/diff_checker/diff_checker.py
Restart=always
RuntimeMaxSec=1d



[Install]
WantedBy=multi-user.target
